[submodule "tools/re2c"]
	path = tools/re2c
	url = https://github.com/skvadrik/re2c
	shallow = true
[submodule "tclconfig"]
	path = tclconfig
	url = https://github.com/cyanogilvie/tclconfig.git
	shallow = true
[submodule "teabase"]
	path = teabase
	url = https://github.com/cyanogilvie/teabase
