*.swp
*.swo
*.o
*.a
*.so
core
tclconfig
Makefile
autom4te.cache
config.log
config.status
configure
pkgIndex.tcl
doc/hyprdom.n
tags
memdebug.sh
optimised.sh
perf.data
perf.data.old
last
cg.out
lexers/
prof/
tools/bin/
generic/reuri.h
reuriConfig.sh
doc/reuri.n
