*.swp
*.swo
*.o
*.a
*.so
*.gcda
*.gcno
*.gcov
*~
core
Makefile
autom4te.cache
config.log
config.status
configure
pkgIndex.tcl
doc/reuri.n
tags
memdebug.sh
optimised.sh
perf.data
perf.data.old
last
cg.out
lexers/
parsers/
prof/
tools/bin/
generic/reuri.h
reuriConfig.sh
